{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
    
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text"> Blog that is made following the Django Central tutorial. In addition you can add images to posts </p>
        <a href="https://djangocentral.com/building-a-blog-application-with-django"
        class="btn btn-danger" style= "background: rgb(77, 124, 1); border-color:rgb(77, 124, 1) ">Main tutorial!</a>
    </div>
</div>
</div>

{% endblock sidebar %}